model 1
fuel_control
algorithm 1
mctsbasic
addpath 1
/home/zhenya/breach
input_name 2
Engine_Speed
Pedal_Angle
input_range 2
900 1100
8.8 90
optimization 2
cmaes
simulannealbnd
phi 1
AFC2 not (ev_[11,50] (alw_[0,10] ((mu[t]>0.3) or (mu[t]<-0.3))))
controlpoints 1
3
scalar 1
0.2
partitions 1
2 2
T_playout 1
40
N_max 1
2000
timespan 1
0:.01:50
T 1
50
parameters 9
fuel_inj_tol=1.0;
MAF_sensor_tol=1.0;
AF_sensor_tol=1.0;
pump_tol=1;
kappa_tol=1;
tau_ww_tol=1;
fault_time=50;
kp=0.04;
ki=0.14;
