model 1
Autotrans_shift
algorithm 1
mctsbasic
addpath 1
/home/zhenya/breach
input_name 2
brake
throttle
input_range 2
0 325
0 100
optimization 1
cmaes
phi 2
AT3 alw_[0,29](speed[t]<100) or alw_[29,30](speed[t]>65)
AT4 alw_[0,30](RPM[t] < 4770 or alw_[0,1](RPM[t] > 600))
controlpoints 1
5
scalar 1
0.2
partitions 1
2 2
T_playout 1
50
N_max 1
5000
timespan 1
0:.01:30
T 1
30
